/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather+Sans&display=swap');
/* CSS Reset */
/* #region*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* #endregion*/
/* Universal Styles */
*{
    box-sizing: border-box;
    max-width: 100%;
    border:1px solid grey;
}
/* General Styling */
html{
    font: size 62.5%;
}
body{
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Merriweather Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Abril Fatface', cursive;
}
a{
    text-decoration: none;
}
/* Body Styling */
.navbar{
	display:flex;
	justify-content:space-between;
	width:100%;
}
.nameContainer{
	display:flex;
	padding:2%;
	width:25%;
}
.nameContainer p{
	padding:2%;
	width:100%;
}
.navContainer{
	display:flex;
	padding:2%;
}
.navLinks{
	padding: 2%;
    color: black;
}
.headerSection{
	width:100%;
	position: relative;
	text-align: center;
	color:white;
	display:flex;
	flex-direction:column;
}
.bgHeaderImg{
	background-image:url('file:///Users/joshuasamaniego-evans/Desktop/LambdaProjects/User-Interface-II/assets/header-bkgd-unsplash.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	height:80vh;
}
.mainHeader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity:0.75;
	font-size: 5rem;
}
.headerButton{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 200%);
	font-size: 2.5rem;
}
.projects{
	display:flex;
}

.about{
	display:flex;
}
.footerSection{
	width:100%;
	height:20vh;
	background-color: #4f4f4f;
	display:flex;
	flex-direction:column;
	align-items:center;

}
#copyright{
	font-size:1rem;
}

